float-right
{
    float: right;
}

.navmenu
{
    height: auto;
    margin-left: 200px;
}

.sidemenu
{
    width: 200px;
}

.content
{
    margin-left: 240px;
    margin-top: 110px;
    margin-right: 40px;


}

.danger
{
    color: red;
    font-size: 12px;
}


