.nav-list
{
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #7FDBFF;
    text-align: right;
}

.nav-items
{
    display: inline-block;
    float: none;
    margin: 0 18px;
    padding: 10px;
}