.side-bar-list
{
    list-style-type: none;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgb(108, 106, 106 );
}

.side-bar-item
{
    margin: 0 auto;
    font-size: 20px;
}

.side-bar-item :hover
{
    background-color : beige;
    color: black;
}

.side-bar-item a
{
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.side-bar-item :active
{
    font-size: 25px;;
}





