.register-container
{
    width: 60%;
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;

}

.danger
{
    color: red;
    font-size: 12px;
}

/* //css can be written in three ways
//Internal css 
//external css
//inline css
//selectors can be written in three ways
//as an elements
//as an id
//as class */





